@page
<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-2">User</div>
		<div class="col-4"><input id="user" type="text" /></div>
	</div>
	<div class="row">
		<div class="col-2">Message</div>
		<div class="col-4"><input id="message" type="text" /></div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-6">
			<input id="btsendbutton" type="button" value="Send Message" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-6">
		<ul id="messages"></ul>
	</div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
